*{
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
header {
    background-color: rgb(207, 202, 202);
    height: 50px;
    width: 100%;
}
.button{
    background-color: white;
    border: 2px;
    border-style: solid;
    border-color: rgb(190, 4, 4);
    color: rgb(190, 4, 4);
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;   
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}
.main{
    width: 100%;
   padding-top: 100px;
   padding-bottom: 100px;
   padding-left: 100px;
   padding-right: 100px;
}
.left{
    width: 50%;
    vertical-align: top;
    font-size: 14px;
    padding-right: 100px;
    float: left;
}
.squares{
    width: 50%;
    float: left;
}
.square1 , .square2 , .square3, .square4{
    width: 50%;
    color: grey;
    font-size: 14px;
    float: left;
}
h2 {
    padding-left: 1%;
}
h1, .left_p {
    margin-bottom: 50px;
}
.square1, .square3{
    padding-right: 30px;
}

.next{
    width: 100%;
    text-align: center;
}
